/*
[Table of contents]

1. Body
2. Normal Css
3. header section / .md_header_wrapper
4. menu section / .md_navigation
5. slider section / .md_slider_wrapper
6. about section / .md_about_wrapper
7. service section / .md_service_wrapper
8. team section  / .md_team_wrapper
9. blog section / .md_blog_wrapper
10. testimonial section / .md_testimonial_wrapper
11. cta section / .md_cta_wrapper
12. footer section / .md_footer_wrapper

*/
/*--------- Body Start -------*/
body {
	font-family: 'Montserrat',
		sans-serif;
	font-size: 14px;
	color: #010562;
	margin: 0;
	padding: 0;
}

p {
	color: #010562;
	font-size: 15px;
}

/*--------- Body End -------*/

/*---------- Normal css start -------*/
a {
	color: #010562;
	text-decoration: none;
	cursor: pointer;
}

a:hover,
a:focus {
	color: #010562;
	text-decoration: none;
}

h1 {
	font-size: 34px;
	font-weight: bold;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 19px;
}

a:focus {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat',
		sans-serif;
	font-weight: 400;
	line-height: 1.1;
	color: #010562;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

input {
	outline: none;
}

input:focus {
	outline: none !important;
	box-shadow: none !important;
}

textarea {
	outline: none;
}

textarea:focus {
	outline: none;
	box-shadow: none;
}

button {
	outline: none;
	background-color: #006A91;
}

button:focus {
	outline: none;
	box-shadow: none;
}

.form-control::-moz-placeholder {
	color: #1990ce;
}

.form-control:-ms-input-placeholder {
	color: #1990ce;
}

.form-control::-webkit-input-placeholder {
	color: #1990ce;
}

.md_button {
	padding: 5px 25px;
	background: #006A91;
	border: none;
	color: #fff;
	font-size: 18px;
}

/*---------- Normal css end -------*/

/* header section start */

.md_top_header {
	float: left;
	width: 100%;
	background: #010562;
	padding: 30px 0px;

}

.md_top_haeder_logo {
	float: left;
	width: 100%;
}

.md_top_header_contact {
	float: left;
	width: 100%;
	margin-top: 22px;

}

.md_top_header_contact ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
}

.md_top_header_contact ul li {
	float: left;
	margin-left: 10px;
}

.md_top_header_contact ul li:first-child {
	margin-left: 0px;
}

.md_top_header_contact ul li img {
	color: white;
	width: 30%;
	height: 20%;
	float: left;
	text-align: center;
	padding-left: 5px;
}

/* header section end */

/* menu section start */
.md_navigation {
	float: left;
	width: 100%;
	padding: 10px 0px;
}

.menu_fixed {
	/* position: fixed; */
	z-index: 1000;
	padding: 10px 0px;
	background: white;
	box-shadow: 0px -5px 20px;
}

.md_navigation_menu {
	float: left;
	width: 100%;
	margin-top: 22px;
}

.md_navigation_menu ul {
	list-style: none;
	padding: 0;
	float: left;
	width: 100%;
	margin: 0;
	margin-bottom: 0;
}

.md_navigation_menu ul li {
	float: left;
}

.md_navigation_menu ul li a {
	float: left;
	padding: 13px 20px;
	font-size: 14px;
	line-height: 17px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
}

.md_navigation_menu ul li a:before {
	position: absolute;
	content: "";
	top: 0;
	left: 50%;
	width: 0%;
	height: 100%;
	z-index: -1;
	background: #FFA552;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.md_navigation_menu ul li a:after {
	position: absolute;
	content: "";
	top: 0;
	right: 50%;
	width: 0%;
	height: 100%;
	z-index: -1;
	background: #FFA552;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.md_navigation_menu ul li:hover a:before,
.md_navigation_menu ul li:hover a:after {
	width: 50%;
}

.md_navigation_menu ul li:hover a {
	color: white;
}

.md_navigation_menu.md_main_menu_hide {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-ms-transform: translateX(0%);
	-o-transform: translateX(0%);
	transform: translateX(0%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.md_navigation_app_button {
	float: left;
	width: 100%;
	margin-top: 22px;
}

.md_navigation_app_button .md_app_button {
	background: #FFA552;
	border: none;
	font-size: 14px;
	padding: 10px 15px;
	color: #fff;
	float: right;
	border: 3px solid transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
}

.md_navigation_app_button .md_app_button:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0px;
	height: 0px;
	border-top: 2px solid white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.md_navigation_app_button .md_app_button:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0px;
	height: 0px;
	border-bottom: 2px solid white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.md_navigation_app_button .md_app_button:hover:before,
.md_navigation_app_button .md_app_button:hover:after {
	width: 100%;
	height: 100%;
}

.md_navigation_app_button .md_app_button a {
	color: white;
	font-size: 17px;
	font-weight: bold;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.modal {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.modal.in {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.modal-dialog {
	margin: 0;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) !important;
	-moz-transform: translate(-50%, -50%) !important;
	-ms-transform: translate(-50%, -50%) !important;
	-o-transform: translate(-50%, -50%) !important;
	transform: translate(-50%, -50%) !important;
}

.modal-content {
	border-radius: 0px;
	background: #AEDADD;
	/* background: #fff; */
}

.modal-header h4 {
	font-weight: 600;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
	margin-top: 5px;
}

.md_modal_form_group input {
	height: 45px;
	width: 440px;
	line-height: 18px;
	margin: 15px 0px;
	border: none;
	border-radius: 0;
}

.md_modal_form_group {
	margin: 15px 60px;
	color: #A7A7A7;
}

.md_modal_form_group input:focus {
	outline: none;
	box-shadow: none;
}

.modal-footer {
	text-align: center;
}

.modal-body .row {
	display: flex;
	flex-direction: column;
}

input[type="text"]::placeholder {
	color: rgba(167,
			167,
			167,
			1);
}

input::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity 0.1s ease;
}

input::-moz-placeholder {
	opacity: 1;
	transition: opacity 0.1s ease;
}

input:-moz-placeholder {
	opacity: 1;
	transition: opacity 0.1s ease;
}

input:-ms-input-placeholder {
	opacity: 1;
	transition: opacity 0.1s ease;
}

input:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.1s ease;
}

input:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.1s ease;
}

input:focus:-moz-placeholder {
	opacity: 0;
	transition: opacity 0.1s ease;
}

input:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.1s ease;
}

.modal-footer .md_button {
	background: #FFA552;
	border: none;
	font-size: 14px;
	padding: 10px 15px;
	color: #fff;
	border: 3px solid transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;

}

.modal-footer .md_button:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0px;
	height: 0px;
	border-top: 2px solid white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.modal-footer .md_button:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0px;
	height: 0px;
	border-bottom: 2px solid white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.modal-footer .md_button:hover:before,
.modal-footer .md_button:hover:after {
	width: 100%;
	height: 100%;
}

.md_menu_btn {
	display: none;
}

/* menu section end */

/* slider section start */
.md_slider_wrapper {
	float: left;
	width: 100%;
}

.md_slider_bg1 {
	float: left;
	width: 100%;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../photos/IMG_4084.jpg);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(.../photos/IMG_4084.jpg);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../photos/IMG_4084.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../photos/IMG_4084.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../photos/IMG_4084.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	padding: 100px 0px;
	height: 500px;
}

.md_slider_bg2 {
	float: left;
	width: 100%;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../photos/IMG_3995.jpg);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../photos/IMG_3995.jpg);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../photos/IMG_3995.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../photos/IMG_3995.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../photos/IMG_3995.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	padding: 100px 0px;
	height: 500px;
}

.md_slider_bg3 {
	float: left;
	width: 100%;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../photos/IMG_4003.jpg);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../photos/IMG_4003.jpg);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../photos/IMG_4003.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../photos/IMG_4003.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../photos/IMG_4003.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	padding: 100px 0px;
	height: 500px;
}

.md_slider_bg_content {
	float: left;
	width: 100%;
}

.slider1 .owl-item img {
	width: auto;
	margin-bottom: 30px;
}

.md_slider_bg_content h1 {
	color: white;
	font-weight: bold;
	line-height: 1.3;
	font-size: 50px;
}

.md_slider_bg_content p {
	font-size: 20px;
	color: white;
	font-style: italic;
	color: #f5f5f5;
	margin-bottom: 30px;
}

/* slider section end */

/* about seciton start */
.md_about_wrapper {
	float: left;
	width: 100%;
	background-image: url(../photos/IMG_4044.JPG);
	background-repeat: no-repeat;
	background-position: 900px 40px;
	background-size: contain;
	position: relative;
	margin-bottom: 40px;
	/* background-position: center; */

	/* background-position: 250px; */
}

.md_about_wrapper .col-lg-6 {
	padding: 0px;
}

.md_about_caption_box {
	float: left;
	width: 100%;
	background-color: #fff;

	padding: 100px 50px 100px 0px;
}

.md_about_caption_box .col-lg-10 {
	padding: 0px;
}

.md_about_caption_content {
	float: left;
	width: 100%;
}

.md_about_caption_content img {
	margin-bottom: 10px;
	width: 50px;
	height: 50px;
}

.md_about_caption_content h1 {
	margin-top: 0px;
	font-weight: bold;
}

.md_about_caption_content h1 span {
	color: #07bb83;
}

.md_about_caption_content p {
	font-size: 15px;
	margin-bottom: 0px;
	color: #010562;
}

.md_about_caption_icon_box {
	float: left;
	width: 100%;
}

.md_about_caption_icons {
	float: left;
	width: 100%;
	margin-top: 30px;
}

.md_about_caption_icons .md_about_icon {
	float: left;
	/* background: #1990ce; */
	padding: 10px 10px;
	border-radius: 100px;
	margin-top: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.md_about_caption_icons .md_about_icon i {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.md_about_caption_icons .md_about_icon i:before {
	margin: 0;
	color: #fff;
	font-size: 35px;
}

.md_about_caption_icons:hover .md_about_icon {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.md_about_caption_icons .md_about_icon_content {
	float: right;
	width: calc(100% - 120px);
}

.md_about_caption_icons .md_about_icon_content h2 {
	font-weight: bold;
}

.md_about_caption_icons .md_about_icon_content p {
	margin-bottom: 0px;
}

.md_about_img {
	float: left;
	width: 100%;
	display: none;
}

/* about seciton end */

/* progress section start */
.md_progress_wrapper {
	float: left;
	width: 100%;
	padding: 100px 0px 60px 0px;
	background-color: rgb(188, 232, 233, 0.54);
}

.md_progress_heading img {
	margin-bottom: 0px;
	width: 50px;
	height: 50px;
}

.md_progress_heading {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.md_progress_heading h1 {
	font-weight: bold;
}

.md_progress_heading p {
	margin-bottom: 0px;
	font-size: 20px;
}

.md_progress_caption {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.md_progress_caption i:before {
	margin: 0;
	background: #07bb83;
	padding: 24px;
	font-size: 40px;
	color: #fff;
	border-radius: 100%;
}

.md_progress_caption h2 {
	font-weight: bold;
	margin: 10px 0px;
	margin-top: 20px;
}

.md_progress_caption p {
	margin-bottom: 0px;
	color: #010562;
}

/* progress section end */


/* team start */
.md_team_wrapper {
	display: flex;
	width: 100%;
}

.md_team_heading h1 {
	font-size: 34px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}

.photo_EA {
	float: left;
	width: 450px;
	height: 500px;
}

.main_doctor_name,
.quote {
	float: right;
}

.line {
	border-left: 8px solid #DBF2F3;
	padding-left: 10px;
}

.main_doctor_name {
	margin: 20px 150px;
}

.info_doctor {
	margin-left: 125px;
	float: left;
	padding-top: 30px;
	line-height: 24px;
}

.info_doctor p {
	font-size: 15px;
}

.quote {
	width: 655px;
	height: 100px;
	margin-top: 60px;
}



/* team end */


/* service section start */
.md_service_wrapper {
	float: left;
	width: 100%;
	padding: 100px 0px 60px 0px;
}

.md_service_heading img {
	margin-bottom: 0px;
	width: 50px;
	height: 50px;
}

.md_service_heading {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.md_service_heading h2 {
	font-size: 34px;
	font-weight: bold;
}

.md_service_heading h2 span {
	color: #07bb83;
}

.md_service_heading p {
	margin-bottom: 0px;
	font-size: 20px;
}

.md_service_caption {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.md_service_caption i:before {
	margin: 0;
	background: #07bb83;
	padding: 24px;
	font-size: 40px;
	color: #fff;
	border-radius: 100%;
}

.md_service_caption h4 {
	font-weight: bold;
	font-size: 22px;
	margin: 10px 0px;
	margin-top: 20px;
}

.md_service_caption p {
	font-size: 18px;
	color: #010562;
	margin-bottom: 0px;
}

/* service section end */

/* insurance section start */
.md_insurance_wrapper {
	float: left;
	width: 100%;
	background: -webkit-linear-gradient url(../images/gift_bg.jpg);
	background: -moz-linear-gradient url(../images/gift_bg.jpg);
	background: -ms-linear-gradient url(../images/gift_bg.jpg);
	background: -o-linear-gradient url(../images/gift_bg.jpg);
	background: linear-gradient(rgba(7, 188, 131, 0), rgba(7, 188, 131, 0)),
		url(../images/gift_bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom;
	padding: 120px 0px;
}

.md_insurance_caption {
	float: left;
	width: 100%;
	text-align: center;
}

.md_insurance_content {
	float: left;
	width: 100%;
}

.md_insurance_content h2 {
	font-size: 34px;
	font-weight: bold;
	margin-bottom: 50px;
}

.md_insurance_content p {
	margin-bottom: 0px;
	font-size: 20px;
	/* margin-top: 100px */
}

.md_insurance_button {
	float: left;
	width: 100%;
	margin-top: 30px;
	padding: 10px 15px;
}

.md_insurance_button .md_button {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	border: 3px solid transparent;
	color: #fff;
	background-color: #FFA552;
	font-weight: 700;
}

.md_insurance_button .md_button:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0px;
	height: 0px;
	border-top: 2px solid white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.md_insurance_button .md_button:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0px;
	height: 0px;
	border-bottom: 2px solid white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.md_insurance_button .md_button:hover:before,
.md_insurance_button .md_button:hover:after {
	width: 100%;
	height: 100%;
}

.md_insurance_button .md_button a {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

/* insurance seciton end */


/* gallery section start */
.md_gallery_wrapper {
	float: left;
	width: 100%;
	padding: 50px 0px 200px 0px;
}

.slider2 .item img {
	/* width: auto; */
	margin-bottom: 30px;
}

.md_gallery_heading h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
	font-size: 34px;
	font-weight: bold;
}

/* gallery section end  */

/* testimonial section start */
.md_testimonial_wrapper {
	float: left;
	width: 100%;
	padding: 50px 0px 200px 0px;
}

.md_testimonial_heading {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.md_testimonial_heading h2 {
	font-size: 34px;
	font-weight: bold;
}

.md_testimonial_heading h2 span {
	color: #1990ce;
}

.md_testimonial_heading p {
	margin-bottom: 0px;
	font-size: 20px;
	color: #606060;
}

.md_testimonial_caption {
	float: left;
	width: 100%;
}

.md_testimonial_caption p {
	font-size: 20px;
	font-style: italic;
	color: #010562;
}

.md_testimonial_caption p a {
	font-size: 15px;
	color: #1990ce;
	font-weight: bold;
}

.md_testimonial_caption a i {
	font-size: 18px;
	color: #ccc;
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.md_testimonial_caption a:hover i {
	color: white;
	background-color: #1990ce;
}

.md_testimonial_img {
	float: left;
	width: 100%;
	text-align: center;
}

.md_testimonial_img img {
	display: inline-block;
}

/* testimonial section end */

/* footer section start */
.md_footer_wrapper {
	float: left;
	width: 100%;
	padding-top: 100px;
	background: #011823;

}

.md_contact {
	float: left;
	width: 100%;
}

.md_contact_form {
	float: left;
	width: 100%;
	margin-bottom: 50px;
	padding-left: 80px;
}

.md_contact_form h4 {
	margin-top: 0px;
	color: white;
	font-weight: bold;
	border-bottom: 2px solid #063045;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.md_contact_form input {
	background: none;
	border-radius: 0px;
	height: 40px;
	border: 2px solid #006A91;
	margin-bottom: 20px;
	color: #006A91;
	font-weight: bold;
	font-style: italic;
}

.md_contact_form button {
	border-radius: 0px;
	height: 45px;
	position: relative;
	width: 170px;
	border: 3px solid #006A91;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.md_contact_form button:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0px;
	height: 0px;
	border-top: 2px solid white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.md_contact_form button:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0px;
	height: 0px;
	border-bottom: 2px solid white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.md_contact_form button:hover:before,
.md_contact_form button:hover:after {
	width: 100%;
	height: 100%;
}

.md_contact_form button a {
	color: white;
	font-size: 18px;
}

.md_contact_hour {
	float: left;
	width: 100%;
	margin-bottom: 50px;
}

.md_contact_hour h4 {
	margin-top: 0px;
	color: white;
	font-weight: bold;
	border-bottom: 2px solid #063045;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.md_contact_hour ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.md_contact_hour ul li {
	color: white;
	font-style: italic;
	font-size: 16px;
	margin-bottom: 10px;
}

.md_contact_hour ul li:last-child {
	margin-bottom: 0px;
}

.md_contact_hour ul li span {
	float: right;
}

.md_contact_address {
	float: left;
	width: 100%;
	margin-bottom: 50px;
	padding-right: 80px;
}

.md_contact_address h4 {
	margin-top: 0px;
	color: white;
	font-weight: bold;
	border-bottom: 2px solid #063045;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.md_contact_address_caption {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.md_contact_address_icon {
	float: left;
	text-align: center;
}

.md_contact_address_icon i {
	font-size: 25px;
	height: 50px;
	width: 50px;
	border: 1px solid #1990ce;
	color: #1990ce;
	padding: 12px 0px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.md_contact_address_content {
	float: right;
	width: calc(100% - 75px);
}

.md_contact_address_content p {
	color: white;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 0px;
}

.md_contact_address_content p a {
	color: white;
}

.md_contact_address_caption:hover .md_contact_address_icon i {
	background: #1990ce;
	color: white;
}

.md_footer {
	float: left;
	width: 100%;
	border-top: 1px solid #1990ce;
	padding: 30px 0px;
}

.md_footer_content {
	float: left;
	width: 100%;
}

.md_footer_content p {
	color: white;
	font-size: 14px;
	margin-bottom: 0px;
}

.md_footer_content p a {
	color: #1990ce;
}

.md_footer_icons {
	float: right;
}

.md_footer_icons a {
	color: white;
	font-size: 16px;
	margin-right: 20px;
}

.md_footer_icons a span {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.md_footer_icons a:last-child {
	margin-right: 0px;
}

.md_footer_icons a:hover span {
	color: #1990ce;
}

/* footer section end */